body{
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
	background-color: lightgrey;
	
}

.pages{
	display: inline-block;
	white-space: nowrap
}
ul{
	padding: 10;
	margin: 0;
	background-color: grey;
	
}
li {
	display:inline-block;
	margin-right: 1%;
}
li a {
	display: block;
	color: #20b2aa;
	text-align: center;
	text-decoration: none;
}
li a:hover {
	color: #2dd9d0;
}
h1{
	color: #198e88;
}
.dropdown {
    float: right;
    overflow: hidden;
    white-space: nowrap;

}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: #20b2aa;
    padding-right: 2%;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    display: inline-block;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: grey;
    color: #2dd9d0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #20b2aa;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: 2dd9d0;
}

.show {
    display: block;
}

form button {
    
    width: 3%;
    padding: 0;
    background: grey;
    color: #20b2aa;
    font-size: 16px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 20px;
}
input[type=text] {
	width: 60%;
    float: center;
    padding: 0;
    padding-right: 10px;
    border: none;
    font-size: 16px;
    border-radius: 20px;
    background: grey;
    color: #20b2aa;
    border: 1px solid grey;
}
form {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align:center;
	width: 55%;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #20b2aa;
    opacity: 1; /* Firefox */
}
#AOTW_title
{
	text-align: center;
	padding-top: 0;
	margin: 0;
}
#index_search {
	height: 20%;
	width: 100%;
	color: white;
}
#index_search_bar{
	width: 50%;
	height: 20%;
}
#index_searchbtn{
	height: 20%;
}
#index_title{
	text-align: center;
	font-size: 3em;	
}	
#nav_search input{
	border: 1px solid #20b2aa;
}
#nav_search button{
	border: 1px solid #20b2aa;
}

.push
{
	height: 10%;
}

form#calc {
	width: 100%;
	margin: 0 auto;
}
input.calculator[type=button] {
    background: lightGray;
    width: 20%;
    font-size: 20px;
    font-weight: 900;
    border-radius: 7px;
	margin-left: 1.25%;
    margin-top: 10px;
}
input.calculator[type=button]:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
input.calculator[type=button]:hover {
    background-color: #003300;
    color: white;
}

input.calculator[type = text] {
    position: relative;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    box-shadow: 4px 0px 12px black inset;
    border-radius: 20px;
    font-size: 2em;
    background: #A4A4A4;
    color: #198e88;
    border: 1px solid grey;
    text-align: center;
}

input.calculator[type = submit] {
    width: 3%;
    padding: 0;
    background: grey;
    color: #20b2aa;
    font-size: 16px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 20px;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #198e88	;
    opacity: 1; /* Firefox */
}	

h2{
	color: #198e88;
	text-align:center;
}
form#length_con{
	width: 100%;
	margin: 0 auto;
	padding-left: 40%;
}

#convert_text{
	text-align: center;
}
#convert_bar{
	width: 100%;
}

form[name=converter]{
	margin: 0 auto;
	width: 100%;
}
table#currencyt{
	margin: 0 auto;
	width: 70%;
}
td.Currency_name{
	text-align: right;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;                                                /* Footer height */
}
.footer {
    height: 4%;
    text-align: center;
    background-color: grey;
    margin: auto;
    color: #20b2aa;
}
